.dealsector-container .container-1{
    width: 50%;
    float: left;
}
.dealsector-container .container-2{
    width: 50%;
    float: left;
}
.dealsector-container form input[type=text], input[type=number], textarea {
    width: 50%;
}
.error{
    color: red;
}